.jumbotron {
  text-align: center;
  padding-top: 20px !important;
  background-color: #290445 !important;
  color: white !important;
}

.results {
  padding: 10px 0px 10px 0px;
  border-bottom: solid;
  border-color: white;
  border-width: thick;
  background-color: #DBCDE6;
  text-align: center;
}

a {
  color: inherit !important;
  text-decoration: inherit !important; /* no underline */
}

footer {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
