.jumbotron {
  text-align: center;
  padding-top: 20px !important;
  background-color: #290445 !important;
  color: white !important;
}

.results {
  /*margin-bottom: 20px;*/
  padding: 10px 0px 10px 0px;
  border-bottom: solid;
  border-color: #3A3030;
  border-width: thin;
  background-color: rgba(0, 0, 0, 0.05);
}

.resultsList{
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-color: #3A3030;
  border-width: thin;
}
