.jumbotron {
  text-align: center;
  padding-top: 20px !important;
  background-color: #290445 !important;
  color: white !important;
}

.results {
  /*margin-bottom: 20px;*/
  padding: 10px 0px 10px 0px;
  border-bottom: solid;
  border-color: white;
  border-width: thick;
  /*background-color: rgba(0, 0, 0, 0.05);*/
  background-color: #DBCDE6;
}

a {
  color: inherit !important;
  text-decoration: inherit !important; /* no underline */
}
